.no-border {
	border: none !important;
}

.mui-content {
	background-color: #fff;
	padding-bottom: 60px;
}

.mui-table-view {
	background-color: #fff !important;
}

.center--btn-box {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	background-color: grey;
	/* position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	/* 有了这个就自动居中了 */
}

.center--btn-box.blue {
	box-shadow: 0 0 0 10px rgba(1, 159, 243, .5);
	/* 渐变色 */
	background: -webkit-linear-gradient(left, #01DBE7, #018AFB);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #01DBE7, 018AFB);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #01DBE7, #018AFB);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #01DBE7,#018AFB);
	/* 标准的语法（必须放在最后） */
}

.center--btn-box.green {
	box-shadow: 0 0 0 10px rgba(15, 196, 189, .5);
	/* 渐变色 */
	background: -webkit-linear-gradient(left, #7EF5D9, #04C1BB);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #7EF5D9, #04C1BB);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #7EF5D9, #04C1BB);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #7EF5D9, #04C1BB);
	/* 标准的语法（必须放在最后） */
}

.center--btn-box .wrap {
	margin-top: 25px;
}

.center--btn-box .wrap p {
	text-align: center;
	line-height: 32px;
	color: #fff;
}

.center--btn-box .wrap p:first-child {
	font-size: 18px;
}

.mui-media-body {
	letter-spacing: 1px;
}
